@model WebService2.Models.Person

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Person</title>
</head>
<body>
    <h1>It's HTML!!</h1>
</body>
</html>